#d1 {
	width: 100%;
	background: #F00;
	top: 0;
	left: 0;
}

#menu {
	width: 100%;
	padding-left: 14%;
	padding-right: 14%;
	background-color: #231F20;
	text-align: justify;
	z-index: 99999;
}




#menu ul {
	margin-bottom: 0px;
	text-align: justify;
	width: 100%;
	justify-content: space-between;
	margin-left: 0px;
}

#menu ul::after {
	width: 100%;
	display: inline-block;
	content: ".";
	visibility: hidden;
}
.gridContainer {
	background-color: gainsboro;
	min-height: 100%;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 60%);
	background: #FFF url("../img/textura.png") repeat scroll;
}

#header-principal {
	width: 100%;
	padding-left: 12%;
	padding-right: 12%;
}

#container {
	padding: 20px;
	background-color: white;
	width: 72%;
	margin-left: 14%;
	margin-right: 14%;
	box-shadow: 0px 0px 14px 8px rgba(50, 50, 50, 0.2);
}

#menu ul li a {
	font-family: serif;
	font-size: 14px;
	letter-spacing: 0.7px;
	font-weight: 600;
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 0;
	transition: all .2s ease-in-out;
	
}
#menu ul li a:hover, #menu ul li a:focus {
	color: #00A54F;
	text-decoration: none;
	font-size: 17px;
	font-family: serif;
	letter-spacing: 0.7px;
	font-weight: 650;
	margin: 0;
	padding: 0;
}

#menu ul li {
	list-style-type: none;
	display: inline-block;
	text-align: justify;
}



#menu ul li span {
	font-family: serif;
	letter-spacing: 0.5px;
	font-weight: 600;
	color: #00A54F;
	text-decoration: none;
	font-size: 19px;
	margin: 0;
	padding: 0;
}



#entrarDiv {
	width: 100%;
	padding-left: 14%;
	padding-right: 14%;
	height: 38px;
	text-align: right;
	background-color: #231F20;
}

#entrarDiv img {
	max-width: 55%;
	max-height: 55%;
}

#entrarDiv a {
	align-content: center;
	vertical-align: top;
	font-family: serif;
	font-size: 12px;
	letter-spacing: 0.8px;
	font-weight: 550;
	text-decoration: none;
	color: white;
	margin: 0;
	padding: 0;
	transition: all .2s ease-in-out;
	vertical-align: sub;
}

#menuadmin {
	list-style: none;
	float: left;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	
}

#menuadmin li {
	position: relative;
	float: left;
	font-size: 12px;
}

#menuadmin li a {
	background: #231F20;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	text-align: left;
	font-size: 12px;
}

#menuadmin li a:hover {
	background: #231F20;
	color: #fff;
	
	text-shadow: 0px 0px 5px #fff;
	font-size: 12px;
}

#menuadmin li ul {
	position: absolute;
	background-color: #fff;
	display: none;
	margin: 0;
	padding: 0;
}

#menuadmin li:hover ul, .menuadmin li.over ul {
	display: block;
}

#menuadmin li ul li {
	border: 1px solid #c0c0c0;
	display: block;
	width: 150px;
}



.imagemPerfil{
	max-width: 120px;
	max-height: 120px 
}
