
.my-form-inline{
       float: left;
       width: 100%;
       max-width: 100%;
}

.my-form-inline div{
	padding-right: 10px;
    float: left;
	width: 100%;
	max-width: 100%;
}

.my-form-inline div div input{
	max-width: 100%;
}


.gridContainer {
	background-color: gainsboro;
	min-height: 100%;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 60%);
	background: #FFF url("../img/textura.png") repeat scroll;
}

#header-principal {
	width: 100%;
	padding-left: 12%;
	padding-right: 12%;
}

#container {
	padding: 20px;
	background-color: white;
	width: 72%;
	margin-left: 14%;
	margin-right: 14%;
	box-shadow: 0px 0px 14px 8px rgba(50, 50, 50, 0.2);
}

.imagemPerfil{
	max-width: 120px;
	max-height: 120px
}

.attraction {
	height: 380px;
}

h5 .where {
	font-size: 0.85em;
	color: #666;
}

.soon {
	color: #777;
	font-variant: small-caps;
}

#academic hr {
	margin-top: 10px;
	margin-bottom: 10px;
}